.hero-headline {
  font-size: 35px;
  color: black;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}
/* .boy-img {
  max-width: 85%;
  height: 50%;
} */

.image-container {
  position: relative;
}

.background-image,
.overlay-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  /* transform: translate(-50%, -30%); */
}

.background-image{
  transform: translate(2%, 111%);
}



.overlay-image {
  /* Adjust the positioning or add additional styling as needed */
  bottom: 0;
  left: 0;
}

/* YourReactComponent.css */

.hero-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    /* height: fit-content; */
  }
  
  .outer-card {
    border: none; /* Remove all borders */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
    width: 300px; /* Adjust the width as needed */
    height: auto;
  }
  
  .inner-card {
    padding: 1.25rem;
    text-align: center;
  }
  
  .circlegreen{
    width: 10px;
    height: 10px;
    background-color: #339944; /* Circle color */
    border-radius: 50%;
  }
  .circleyellow{
    width: 10px;
    height: 10px;
    background-color: yellow; /* Circle color */
    border-radius: 50%;
    /* Center the circle and add spacing */
  }
  
  .inner-card-text {
    font-size: 1rem;
    color: #333; /* Text color */
  }

  .line {
    height: 2px;
    width: 100px; /* Adjust the length of the line as needed */
    margin: 0 10px; /* Adjust the spacing between lines and text */
  }

  /* Text between the lines */
  .text {
    font-size: 25px;
    font-weight: 600;
    color: #000000    ; /* Adjust the text color */
  }

  .underline-text{
    display: flex;
    align-items: center;
    justify-content: center;    
  }
  
.sales-greytext{
    font-size: 20px;
    font-weight: 700;
    color: #E5E8E8;
}
.sales-numtext{
    font-style: 26px;
    font-weight: 700;
}

.hero-span{
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

@media only screen and (max-width: 600px) {
 /* .hero-card-mobile-view{
  display: flex;
  flex-direction: column;
 } */

  .image-container{
    margin-bottom: 0; /* Remove margin between image and card on smaller screens */
  }

  .boy-img{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
    position: relative;
  }

   .hero-card-mobile-view{
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
   }
  .circle-mobile{
    margin-left: 130px;

  }
  .salesection-mobile{
    margin-left: 19px;
    
  }
}
