.mobile-headline{
    /* font-size: 22px; */
    font-weight: 700;
}
.mobileapp-para{
font-size: 20px;
font-weight: 600;
}
.mobile-img{
    width: 46vw;
}
.store-icon{
    width: 18vw;

}

@media only screen and (max-width: 600px) {
    .mobile-img{
        width: 90%;
    }
    .mobileApp-mobileview{
     width: 100%;
     /* padding-bottom: 55px; */
    }
    .download-store-mobile-view{
        width: 75%;
        height: 11vh;
      
        

    }
  }